<launch>
  <arg name="address"                   default="$(env SMARTTHINGS_BRIDGE_ADDRESS)"/>
  <arg name="port"                      default="$(env SMARTTHINGS_BRIDGE_PORT)"/>
  <arg name="target_configuration_file" default="$(env SMARTTHINGS_TARGET_CONFIG)"/>

  <node name="smartthings_bridge"   type="smartthings_bridge.py"  pkg="rocon_iot_bridge">
    <param name="address"                     value="$(arg address)"/>
    <param name="port"                        value="$(arg port)"/>
    <param name="target_configuration_file"   value="$(arg target_configuration_file)"/>
  </node>
</launch>
